#login_form_logo_text{
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #343a40;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
  }

  #login_form_container{
    margin-top:50px;
  }

  #login_form_fields{
    margin-top:65px;
  }

  #header_text{
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
  }

  #header_username{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
  }

  #left_menu_sort_name{
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main_view_table_vertical{
    height: 555px !important;
    overflow: scroll;
  }

  .hover_cursor_class:hover{
    cursor:pointer;
  }